body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family:  'Roboto', arial;
    box-sizing: inherit;
}
.cont {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 220px;
    gap: 100px;
    flex: 1;
    color: #F9FAF8;
    padding-block: 8px 160px;
}

.cont-1a {
    display: flex;
    align-items: flex-end;
    max-width: 1110px;
    width: 100%;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.title,
.links {
    flex: 1;
}

.cont-1b {
    display: flex;
    align-items: flex-start;
    max-width: 1110px;
    width: 100%;
    margin-bottom: 0px;
    max-height: 187px;
}

.intro {
    flex: 1 0 50%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    max-height: inherit;
    flex-wrap: wrap;
}

p {
    margin: 0;
}
ul {
    margin: 8px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
    font: lighter;
    font-size: 12px;
}

li {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

span {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}


button {
    padding: 8px;
    margin-top: 10px;
    width: 100px;
    height: auto;
    background-color: #3882F6;
    border-radius:  10px;
    color: #F9FAF8;
    border-style: none;
    font-weight: bold;
}

.picdiv {
    flex: 1 0 50%;
    display: flex;
    overflow: hidden;
    max-height: inherit;
    max-width: inherit;
}

img.picheader {
    max-width: 100%;
    border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    image-rendering: pixelated;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cont-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: pink;
}

.salon-info {
    font-size: bolder;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding-block: 20px 20px;
}

.cont-2a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 4%;
}

div.pic {
    display: flex;
    max-width: 150px;
    flex-direction: column;
}

img.images {
    height: 150px;
    border-radius: 10px;
    background-position: left top;
    background-repeat: repeat;
    image-rendering: pixelated;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

div.text {
    display: inline-flex;
    flex: 1;
    justify-content: center;
    font-size: 12px;
    flex-wrap: wrap;
    text-align: center;
}